*.pyc
workdir/*
outputs/*
logs/*
tmp/*
data/*
static/*
processes/outputs/*
processes/configuration.txt
notebooks/test.tif
# vim, mac os
*.sw*
.DS_Store
.*.un~
.idea

# python setup.py build/install artifacts
build
dist
pywps_demo.egg-info/

# docs build artifacts
_build/

# add the config file
