<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="PyWPS - PyWPS is an implementation of the Web Processing Service standard from the Open Geospatial Consortium. PyWPS is written in Python.">
    <meta name="keywords" content="PyWPS, PyWPS, WPS, OGC, processing">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <a href='{{ server_url }}?request=GetCapabilities&service=WPS' target="_blank"
                    title='{{ server_url }}?request=GetCapabilities&service=WPS'>
                    <img src="/static/pics/PyWPS-GetCapabilities-brightgreen.svg" />
                </a>
                <a href='{{ server_url }}?request=DescribeProcess&service=WPS&identifier=all&version=1.0.0'
                    target="_blank"
                    title='{{ server_url }}?request=DescribeProcess&service=WPS&identifier=all&version=1.0.0'>
                    <img src="/static/pics/PyWPS-DescribeProcess-green.svg" />
                </a>
                <h1>{{ title }}</h1>
                <p>Point your WPS client to: <code>{{ server_url }}</code></p>
            </div>
        </div>

        <div class="container">
            <h2>Processes</h2>
            <p>The following processes are available:</p>
            <ul class="list-group list-group-flush">
                {% for name, abstract in process_descriptor.items() %}
                <li class="list-group-item media">
                    <div class="media-body">
                        <h5 class="mt-0"><a
                                href='{{ server_url }}?request=DescribeProcess&service=WPS&identifier=all&version=1.0.0'
                                target="_blank"
                                title='{{ server_url }}?request=DescribeProcess&service=WPS&identifier={{ name }}&version=1.0.0'>
                                <img class="ml-1" src="/static/pics/PyWPS-DescribeProcess-green.svg"
                                    alt="DescribeProcess" />
                            </a> {{ name }}</h5>
                        {{ abstract }}
                    </div>

                </li>
                {% endfor %}
            </ul>

        </div>
    </main>

    <footer class="container">
        <small>
            <p>Copyright (&copy) 2014-2016 PyWPS Development Team<cite> - represented by Jachym Cepicky.</cite> Adapted
                to simple bootstrap<cite> by Maarten Pronk.</cite></p>
        </small>
        <p><a rel="license" title="This work is licensed under a Creative Commons Attribution 4.0 International License"
                href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License"
                    style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a></p>
    </footer>

</body>

</html>